In [13]:
import pandas as pd
!pip install missingno

# Load data from our dataset file into a pandas dataframe
url_data = (r'https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/titanic.csv')
graphing = (r'https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py')
dataset = pd.read_csv(url_data, index_col=False, sep=",", header=0)

# Let's take a look at the data
dataset.head()

Collecting missingno
  Using cached missingno-0.5.1-py3-none-any.whl (8.7 kB)
Collecting matplotlib
  Using cached matplotlib-3.6.2-cp310-cp310-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from missingno) (1.23.4)
Collecting seaborn
  Using cached seaborn-0.12.1-py3-none-any.whl (288 kB)
Requirement already satisfied: scipy in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from missingno) (1.9.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\em\appdata\roaming\python\python310\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->missingno) (9.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\em\appdata\roaming\python\python310\site-packages (from matplotlib->missingno) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->missingno) (4.38.0)
Requirement already satisfied: cycler>=0.10 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->missingno) (1.0.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\em\appdata\roaming\python\python310\site-packages (from matplotlib->missingno) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: pandas>=0.25 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from seaborn->missingno) (1.5.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\em\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn->missingno) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\em\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Installing collected packages: matplotlib, seaborn, missingno

WARNING: Ignoring invalid distribution -atplotlib (c:\users\em\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\em\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\em\appdata\local\programs\python\python310\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\EM\\AppData\\Local\\Programs\\Python\\Python310\\Lib\\site-packages\\matplotlib\\_c_internal_utils.cp310-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\em\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\em\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\em\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Shape tells us how many rows and columns we have
print(dataset.shape)

(891, 12)

In [4]:
# Calculate the number of empty cells in each column
# The following line consists of three commands. Try
# to think about how they work together to calculate
# the number of missing entries per column
missing_data = dataset.isnull().sum().to_frame()

# Rename column holding the sums
missing_data = missing_data.rename(columns={0:'Empty Cells'})

# Print the results
print(missing_data)

             Empty Cells
PassengerId            0
Survived               0
Pclass                 0
Name                   0
Sex                    0
Age                  177
SibSp                  0
Parch                  0
Ticket                 0
Fare                   0
Cabin                687
Embarked               2

In [14]:
# import missingno package
import missingno as msno

# Plot a matrix chart, set chart and font size
msno.matrix(dataset, figsize=(10,5), fontsize=11)

ModuleNotFoundError: No module named 'missingno'

In [6]:
# Select Passengers with unknown age
# Notice how we use .isnull() rows with no value
unknown_age = dataset[dataset["Age"].isnull()]

# Print only the colums we want for the moment (to better fit the screen)
# limit output to 20 rows
unknown_age[["PassengerId","Name", "Survived", "Age"]][:20]

    PassengerId                                            Name  Survived  Age
5             6                                Moran, Mr. James         0  NaN
17           18                    Williams, Mr. Charles Eugene         1  NaN
19           20                         Masselmani, Mrs. Fatima         1  NaN
26           27                         Emir, Mr. Farred Chehab         0  NaN
28           29                   O'Dwyer, Miss. Ellen "Nellie"         1  NaN
29           30                             Todoroff, Mr. Lalio         0  NaN
31           32  Spencer, Mrs. William Augustus (Marie Eugenie)         1  NaN
32           33                        Glynn, Miss. Mary Agatha         1  NaN
36           37                                Mamee, Mr. Hanna         1  NaN
42           43                             Kraeff, Mr. Theodor         0  NaN
45           46                        Rogers, Mr. William John         0  NaN
46           47                               Lennon, Mr. Denis         0  NaN
47           48                       O'Driscoll, Miss. Bridget         1  NaN
48           49                             Samaan, Mr. Youssef         0  NaN
55           56                               Woolner, Mr. Hugh         1  NaN
64           65                           Stewart, Mr. Albert A         0  NaN
65           66                        Moubarek, Master. Gerios         1  NaN
76           77                               Staneff, Mr. Ivan         0  NaN
77           78                        Moutal, Mr. Rahamin Haim         0  NaN
82           83                  McDermott, Miss. Brigdet Delia         1  NaN

In [7]:
# Find those missing age or cabin information
missing_age = dataset["Age"].isnull()
missing_cabin = dataset["Cabin"].isnull()

# Find those missing both
unknown_age_and_cabin = dataset[missing_age & missing_cabin]
print("Number of passengers missing age and cabin information:", len(unknown_age_and_cabin))

Number of passengers missing age and cabin information: 158

In [15]:
import graphing

# 'graphing' is custom code we use to make graphs quickly.
# If you would like to read it in detail, it can be found
# in our GitHub repository
graphing.histogram(dataset, 'Pclass', title='Ticket Class (All Passengers)', show=True)
graphing.histogram(unknown_age_and_cabin, 'Pclass', title='Ticket Class (Passengers Missing Cabin and Age Information)')

ModuleNotFoundError: No module named 'graphing'

In [16]:
import numpy as np

# Print out the average age of passengers we have age data for
mean_age = np.mean(dataset.Age)
print("The average age on the ship was", mean_age, "years old")

# Now make another model where missing ages contained a 0
dataset['Age_2'] = dataset['Age'].fillna(0)
mean_age = np.mean(dataset.Age_2)
print("The average age on the ship was", mean_age, "years old")

The average age on the ship was 29.69911764705882 years old
The average age on the ship was 23.79929292929293 years old

In [17]:
graphing.histogram(dataset, label_x="Age_2")

AttributeError: 'str' object has no attribute 'histogram'

In [18]:
# Create a "clean" dataset where we cumulatively fix missing values
# Start by removing rows ONLY where "Embarked" has no values
print(f"The original size of our dataset was", dataset.shape)
clean_dataset = dataset.dropna(subset=["Embarked"])
clean_dataset = clean_dataset.reindex()

# How many rows do we have now?
print("The shape for the clean dataset is", clean_dataset.shape)

The original size of our dataset was (891, 13)
The shape for the clean dataset is (889, 13)

In [12]:
# Calculate the mean value for the Age column
mean_age = clean_dataset["Age"].mean()

print("The mean age is", mean_age)

# Replace empty values in "Age" with the mean calculated above
clean_dataset["Age"].fillna(mean_age, inplace=True)

# Let's see what the clean dataset looks like now
print(clean_dataset.isnull().sum().to_frame().rename(columns={0:'Empty Cells'}))

The mean age is 29.64209269662921
             Empty Cells
PassengerId            0
Survived               0
Pclass                 0
Name                   0
Sex                    0
Age                    0
SibSp                  0
Parch                  0
Ticket                 0
Fare                   0
Cabin                687
Embarked               0
Age_2                  0

In [19]:
# Assign unknow to records where "Cabin" is empty
clean_dataset["Cabin"].fillna("Unknown", inplace=True)

# Let's see what the clean dataset looks like now
print(clean_dataset.isnull().sum().to_frame().rename(columns={0:'Empty Cells'}))

             Empty Cells
PassengerId            0
Survived               0
Pclass                 0
Name                   0
Sex                    0
Age                  177
SibSp                  0
Parch                  0
Ticket                 0
Fare                   0
Cabin                  0
Embarked               0
Age_2                  0